<!DOCTYPE html>

<html>

<body>
  <h1>
    {{number}}
  </h1>
  <h2>
    {{client.client.name}}
  </h2>
  <div>
    <ul>
      {{#each items}}
      <li>
        {{name}}/{{description}}
      </li>
      {{/each}}
    </ul>
  </div>
</body>

</html>